.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

::selection {
  background: #f11e8eee;
  opacity: .5;
  color: var(--dark);
}

.header__head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__head img {
  width: 36px;
  height: 36px;
}

.header__head h1 {
  font-size: 20px;
  font-weight: 500;
}

.header__links {
  display: flex;
  gap: 12px;
  font-size: 16px;
  letter-spacing: 1px;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 48px;
}

.welcome__texts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.welcome__img {
  width: 300px;
  height: 100%;
  border-bottom-left-radius: 12px;
}

.welcome__img-wrapper {
  position: relative;
  filter: drop-shadow(0 0 16px rgba(78, 78, 78, 0.25));
  margin: 0 0 10px 10px;
}

.welcome__img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/me.webp');
  background-size: cover;
  filter: blur(16px);
  opacity: .7;
  z-index: -1;
}

.welcome__img-wrapper::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 81%;
  height: 29%;
  /* background: red; */
  border-left: 4px solid var(--light);
  border-bottom: 4px solid var(--light);
  border-bottom-left-radius: 16px;
}

.welcome__links {
  font-size: 32px;
  display: flex;
  gap: 8px;
}

.welcome__links a {
  transition: transform .3s ease;
}

.welcome__links a:hover {
  transform: scale(1.2);
}

.welcome__links a ion-icon {
  transition: color .3s ease;
}

.welcome__links a:hover ion-icon {
  color: var(--pink);
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills__wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.skills__card-headline {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.skills__card {
  position: relative;
}

.skills__card-item {
  padding: 6px 0 6px 24px;
  margin-left: 16px;
  font-size: 16px;
  position: relative;
  transition: padding .3s ease, color .3s ease;
}

.skills__card-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: var(--light-gray);
  top: 50%;
  left: 0;
  transition: width .3s ease;
}

.skills__card-item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background: var(--light-gray);
}

.skills__card-item:last-child::after {
  height: 50%;
}

.skills__card-item:hover {
  padding: 6px 12px 6px 12px;
  color: var(--pink);
}

.skills__card-item:hover::before {
  width: 4px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projects__card {
  background: var(--dark-gray);
  border-radius: 12px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.projects__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #cccccc00 25%, #cccccc27 50%, #cccccc00 75%) no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  transition: background-position-x .5s ease, opacity .2s ease;
  background-position-x: calc((min(100vw, 960px) - 32px) * -1);
  pointer-events: none;
}

.projects__card:hover::after {
  transition: background-position-x .5s ease;
  opacity: 1;
  background-position-x: calc(min(100vw, 960px) - 32px);
}

.projects__card-box {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: space-between;
}

.projects__card-headline {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
}

.projects__card-headline__desc {
  margin-top: 3px;
  font-size: 20px;
}

.project__card-description {
  text-align: justify;
  font-size: 15px;
}

.projects__card-technologies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 6px;
  align-items: center;
}

.projects__card-technologies > * {
  font-size: 16px;
  padding: 4px 8px;
  background: var(--dark);
  border-radius: 8px;
}

.footer {
  padding: 24px 0;
  border-top: 1px solid var(--light-gray);
}

.footer__headline {
  font-size: .875rem;
  color: var(--gray);
}

@media screen and (max-width: 960px) {
  .projects__card-box {
    gap: 8px;
    align-items: flex-start;
    flex-direction: column;
  }

  .skills__wrapper {
    padding: 0 16px;
  }
}


@media screen and (max-width: 700px) {
  .welcome {
    flex-direction: column;
  }
}

@media screen and (max-width: 415px) {
  .header__links {
    display: none;
  }

  .welcome__img-wrapper {
    width: 100%;
  }

  .welcome__img {
    width: 100%
  }
}